.avtarstyle{
    width: 200px;
    height: 200px;
}
/* .mainpage {
    width: 90px;
    height: 100vh;
    margin: auto;
    }
.mainpage h1{
margin: 0;
padding: 20px 0;
}
.avtarstyle img {
    width: 200px;
    height: 200px;
} */